@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');

:root {
   /* Color Palette - Backgrounds */
  --color-bg-primary: #48373D;
  --color-bg-secondary: #1B161D

  /* Typography */
  --font-family-primary: system-ui, -apple-system, sans-serif;
  --font-family-display: 'Lancelot', serif;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

    /* Color Palette - Text */
  --color-text-primary: rgb(189, 180, 165);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family-display);
  color: var(--color-text-primary);
}

h1 {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-normal);
}